2022_DATA/
2023_DATA/
dataset/
dataset_example/
datasets/
receits/
test/
train/
weather-dataset/
docs/
test_meteorological.csv
test.zip
__pycache__/
load/
.gitignore
train.zip
load/data/dataset_MWH/
load/data/dataset_KW/
.vscode/
.DS_Store
